<h2 class="text-center"> Lista Secretarios </h2>
<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr >
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let secretario of secretarios; let i=index">
      
      <td>{{i+1}}</td>
      <td>{{secretario.id}}</td>   
      <td>{{secretario.nombre}}</td>  
      <td>{{secretario.email}}</td>
      <td>
        <button (click)="updateSecretario(secretario.id)" class="btn btn-success"> Editar </button>
        <button (click)="deleteSecretario(secretario.id)" class="btn btn-danger ml-2"> Eliminar </button>
      </td>
      
     </tr>
    
    </tbody>
  </table>
</div>
