<div class="col-md-6 offset-md-3">
    <h3 class="text-center">
        Registro de Programa
    </h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>
               Nombre:                
            </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="programa.nombre" name="nombre">
        </div>
        <div class="form-group">
            <label>
               Descripcion:                
            </label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="programa.descripcion" name="descripcion">
        </div>
        <div class="form-group">
            <label>
               Duracion:                
            </label>
            <input type="text" class="form-control" id="duracion" [(ngModel)]="programa.duracion" name="duracion">
        </div>

        <button class="btn btn-success">Guardar</button>

    </form>

</div>
