<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="docentes" routerLinkActive="active" class="nav-link">
        Lista de Docentes
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="registrar" routerLinkActive="active" class="nav-link">
        Registrar Docente
      </a>
    </li>
  </ul>
</nav>

<h1 class="text-center">
  Proyecto Mache Notas
</h1>

<div class="container fluid">
 <router-outlet></router-outlet>
</div>
