
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

 <!-- Botones barra --> 
 <div style="margin-left: 20px">
  <button mat-flat-button routerLink="/home" color="black">Home</button>
</div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="docente" color="black">Docentes</button>
    <mat-menu #docente="matMenu">
      <button mat-menu-item routerLink="/lista-docentes">Lista de Docentes</button>
      <button mat-menu-item routerLink="/registrar-docente">Registrar Docentes</button>
    </mat-menu>
  </div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="estudiante" color="black">Estudiantes</button>
    <mat-menu #estudiante="matMenu">
      <button mat-menu-item routerLink="/lista-estudiantes">Lista de Estudiantes</button>
      <button mat-menu-item routerLink="/registrar-estudiante">Registrar Estudiantes</button>
    </mat-menu>
  </div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="secretario" color="black">Secreatario Academico</button>
    <mat-menu #secretario="matMenu">
      <button mat-menu-item routerLink="/lista-secretarios">Lista de Secretarios</button>
      <button mat-menu-item routerLink="/registrar-secretario">Registrar Secretarios</button>
    </mat-menu>
  </div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="programa" color="black">Programa de Estudios</button>
    <mat-menu #programa="matMenu">
      <button mat-menu-item routerLink="/home">Lista de Programas</button>
      <button mat-menu-item routerLink="/home">Registrar Programa</button>
    </mat-menu>
  </div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="unidad" color="black">Unidad Didactica</button>
    <mat-menu #unidad="matMenu">
      <button mat-menu-item routerLink="/lista-unidades">Lista de Unidades</button>
      <button mat-menu-item routerLink="/registrar-unidad">Registrar Unidad</button>
    </mat-menu>
  </div>

  <div>
    <button mat-flat-button [matMenuTriggerFor]="periodo" color="black">Periodo Academico</button>
    <mat-menu #periodo="matMenu">
      <button mat-menu-item routerLink="/home">Lista de Periodos</button>
      <button mat-menu-item routerLink="/home">Registrar Periodos</button>
    </mat-menu>
  </div>


</ul>
</nav>

<div class="container fluid">
 <router-outlet></router-outlet>
</div>
   