<div class="col-md-6 offset-md-3 container-fluid">
    <h3 class="text-center">
        Actualización de datos Unidad
    </h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>
               Nombre:                
            </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="unidad.nombre" name="nombre">
        </div>
        <div class="form-group">
            <label>
               Duración:                
            </label>
            <input type="text" class="form-control" id="duracion" [(ngModel)]="unidad.duracion" name="duracion">
        </div>
        <div class="form-group">
            <label>
               Creditaje:                
            </label>
            <input type="text" class="form-control" id="creditaje" [(ngModel)]="unidad.creditaje" name="creditaje">
        </div>

        <div class="form-group">
            <label>
               Calificacion:                
            </label>
            <input type="text" class="form-control" id="calificacion" [(ngModel)]="unidad.calificacion" name="calificacion">
        </div>

        <button class="btn btn-success">Guardar</button>

    </form>
</div>
